Makefile.am.user*
Makefile
Makefile.in
ar-lib
compile
debian/autoreconf.after
debian/autoreconf.before
webui/static/arimo400.woff
webui/static/arimo700.woff
*.o
*.a
*~
.*
config.sub
aclocal.m4
.gitignore
.gitignore
configure
config.h.in
config.guess
depcomp
hdf-inventory.json
hdf-inventory.md
INSTALL
install-sh
mhuxd-state.hdf.example
missing
prompts.txt
autom4te.cache/*
build/*
debian/debhelper-build-stamp
docs/rest-api-levels.txt
docs/rest-api-minimal.md
docs/rest-api-schemas.json
docs/json-config-roadmap.md

mhuxd-state.json-example
