Package: mhuxd
Version: 0.30-1
Architecture: i386
Maintainer: Matthias Moeller <mhuxd@maxec.de>
Installed-Size: 200
Depends: libc6 (>= 2.3.6-6~), libfuse2 (>= 2.8.1), libudev0 (>= 0.140)
Section: hamradio
Priority: extra
Homepage: http://maxec.de/dj5qv/apps/mhuxd.html
Description: Daemon implementing the microHam keyer protocol.
 Daemon implementing the microHam keyer protocol.
 mhuxd provides virtual serial ports (using CUSE)
 for radio control, Winkey, PTT etc.
