Source: mhuxd
Section: hamradio
Priority: optional
Maintainer: Matthias Moeller <dj5qv@maxec.de>
Build-Depends: debhelper-compat (= 12),
               autoconf,
               automake,
               libtool,
               libev-dev,
               libudev-dev,
               libfuse-dev,
               libjansson-dev,
               nodejs,
               npm,
               adduser
Standards-Version: 3.9.2
Homepage: http://mhuxd.dj5qv.de

Package: mhuxd
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Device Router for microHam keyers.
 Mhuxd is a device router daemon for microHam keyers.
