name: mhuxd_090beta

on:
  push:
    branches: [ "v0.90beta" ]
  pull_request:
    branches: [ "v0.90beta" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install deps
      run: sudo apt install libev-dev libudev-dev libfuse-dev libjansson-dev nodejs npm 
    - name: configure
      run: ./configure
    - name: make
      run: make
    - name: make check
      run: make check
    - name: make distcheck
      run: make distcheck
